---
layout: default
date: 2013-12-12 00:00:00 +0530
---
<div class="post">
  
  {% for post in site.posts limit:1 %}
	<h2>{{ post.title }}</h2>
	{% if post.author == "" %}
		<h6>by <a href="{{ post.authorpage }}">{{ post.author }}</a>.</h6>
	{% else %}
		<h6>by <a href="{{ site.url }}/about/">{{ site.author }}</a>.</h6>
	{% endif %}

	{{ post.content }}
	<!-- social share plugins -->
	<br/>{% include social_share.html %}<br/>
	<br/><div class="home_bottom"></div>
  {% endfor %}

</div>

{% include subscribe.html %}

<div style="border-top: 1px solid #efefef;"></div><br/>

<div class="all_posts"><a href="{{ site.url }}/archive/">See all posts &raquo;</a></div>
