<!-- Amazon IN Affiliate Links [smileprem-in-21] -->
{% if page.aff-in %}
	<strong>India:</strong> Click to buy <a href="{{ page.aff-in }}">[{{ page.title }}]</a> from Amazon.<br/>
{% endif %}

<!-- Amazon US Affiliate Links [smileprem-us-20] -->
{% if page.aff-us %}
	<strong>USA:</strong> Click to buy <a href="{{ page.aff-us }}">[{{ page.title }}]</a> from Amazon.<br/>
{% endif %}

<!-- Amazon CA Affiliate Links [smileprem-ca-20] -->
{% if page.aff-ca %}
	<strong>Canada:</strong> Click to buy <a href="{{ page.aff-ca }}">[{{ page.title }}]</a> from Amazon.<br/>
{% endif %}

<!-- Amazon GB Affiliate Links [smileprem-gb-21] -->
{% if page.aff-gb %}
	<strong>United Kingdom:</strong> Click to buy <a href="{{ page.aff-gb }}">[{{ page.title }}]</a> from Amazon.<br/>
{% endif %}

{% if page.aff-us %}
	<br/>
{% endif %}
