    |&nbsp;
    {% if page.url == "/index.html" %}
      Home
    {% else %}
      <a href="/index.html">Home</a>
    {% endif %}
    &nbsp;|&nbsp;
    {% if page.title == "Running" %}
      Running
    {% else %}
      <a href="/category/running/">Running</a>
    {% endif %}
    &nbsp;|&nbsp;
    {% if page.title == "Bucket List" %}
      Bucket List
    {% else %}
      <a href="/category/bucket-list/">Bucket List</a>
    {% endif %}
    &nbsp;|&nbsp;
    {% if page.title == "Library" %}
      Library
    {% else %}
      <a href="/category/books/">Library</a>
    {% endif %}
    &nbsp;|&nbsp;
    {% if page.title == "Categories" %}
      Categories
    {% else %}
      <a href="/categories/">Categories</a>
    {% endif %}
    &nbsp;|&nbsp;
    {% if page.title == "Archive" %}
      Archive
    {% else %}
      <a href="/archive/">Archive</a>
    {% endif %}
    &nbsp;|&nbsp;
    {% if page.title == "Contact Me" %}
      Contact Me
    {% else %}
      <a href="/contact/">Contact Me</a>
    {% endif %}
    &nbsp;|
    <p>Copyleft @ 2009. Free to all.</p>
    </center>

