---
layout: default
---
<h2>{{ page.title }}</h2>

<div class="post">
	{% if page.authorname != null %}
		<h6>by <a href="{{ page.authorpage }}">{{ page.authorname }}</a></h6>
	{% else %}
		<h6>by <a href="{{ site.url }}/about/">{{ site.name }}</a></h6>
	{% endif %}

	{{ content }}
	
	<!-- sharethis widget -->
	<br/>{% include sharethis_body.html %}<br/>
	<br/>{% include social_share.html %}<br/>
	<br/><div style="border-bottom: 1px solid #efefef;"></div>
</div>

{% include subscribe.html %}

<div style="border-top: 1px solid #efefef;"></div><br/>

<!-- Pagination links -->
<div class="navigation">
    <p><strong>Posted</strong>: {{ page.date | date_to_string }}</p>
    {% if page.next.url %} 
	<p><strong>Next post</strong>: <a href="{{page.next.url}}">{{page.next.title}}</a></p>
    {% endif %} 
    {% if page.previous.url %} 
	<p><strong>Previous post</strong>: <a href="{{page.previous.url}}">{{page.previous.title}}</a></p>
    {% endif %} 
</div>

<div style="border-top: 1px solid #efefef;"></div>

<!-- Disqus comments -->
{% include disqus.html %}

