---
layout: default
---
<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
{{ content }}
</div>

<!-- Pagination links -->
<div style="border-top: 4px solid #eee; overflow: hidden;" >
    <br/>
    {% if page.next.url %} 
      Next Post:&nbsp;<a href="{{page.next.url}}">{{page.next.title}}</a> 
      <br/><br/>
    {% endif %} 
    {% if page.previous.url %} 
      Prev Post:&nbsp;<a href="{{page.previous.url}}">{{page.previous.title}}</a> 
      <br/><br/>
    {% endif %} 
</div>

<!-- Disqus comments -->
<div style="border-top: 4px solid #eee; overflow: hidden;" >
{% include disqus.html %}
</div>

<!-- sharethis widget -->
{% include sharethis_body.html %}



